<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Form</title>
</head>
<body>
    <h1>Prediction Form</h1>
    <form action="/predict" method="post">
       
        <label for="dc_power">DC Power:</label>
        <input type="number" id="dc_power" name="dc_power" required><br><br>

        <label for="daily_yield">Daily Yield:</label>
        <input type="number" id="daily_yield" name="daily_yield" required><br><br>

        <label for="total_yield">Total Yield:</label>
        <input type="number" id="total_yield" name="total_yield"><br><br>

        <label for="ambient_temp">Ambient Temperature:</label>
        <input type="number" id="ambient_temp" name="ambient_temp"><br><br>

        <label for="module_temp">Module Temperature:</label>
        <input type="number" id="module_temp" name="module_temp"><br><br>

        <label for="irradiation">Irradiation:</label>
        <input type="number" id="irradiation" name="irradiation"><br><br>

        <button type="submit">Predict</button>
    </form>
    <br>
    <form action="/mlflow_ui" method="get">
        <input type="submit" value="MLflow UI">
    </form>
</body>
</html>
